/*声明 WebFont*/
@font-face {
  font-family: 'art';
  /*IE*/
  src: url('../fonts/FZLTCXHJW--GB1-0.eot');
  /*现代浏览器*/
  src:
    url('../fonts/FZLTCXHJW--GB1-0.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/FZLTCXHJW--GB1-0.woff') format('woff'),
    url('../fonts/FZLTCXHJW--GB1-0.ttf') format('truetype'),
    url('../fonts/FZLTCXHJW--GB1-0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ft';
  src: url('../fonts/FZJT.eot');/*IE9 Compat Modes*/
  src:
    url('../fonts/FZJT.eot?#font-spider') format('embedded-opentype'),
    url('../fonts/FZJT.woff') format('woff'),
    url('../fonts/FZJT.ttf') format('truetype'),
    url('../fonts/FZJT.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}
body{font-size: 12px;}
h1, h2, h3, h4, h5, h6, p{margin:0;padding:0;font-weight: normal;}
ul, ol, li{margin:0;padding:0;list-style: none;}
input, button, textarea{outline: none;}

.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
.container{
	width:1200px;
	margin:0 auto;
}
a{
	text-decoration: none;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a:hover{
	text-decoration: none;
}
header{width:100%;background-color: #fff;height:70px;z-index: 5}
header #logo{width:180px;height:48px;margin:10px 0 0 20px;float: left;}
header .top_nav{margin-top: 20px;margin-bottom: 20px;line-height: 30px;float: right;}
header .top_nav span{font-size: 14px;color:#666;margin-right: 30px;display: inline-block;position: relative;top:5px;}
header .top_nav span em{font-size: 22px;color:#3d84b8;line-height: 30px;}
header .top_nav .top_btn{display: inline-block;width:70px;height:30px;text-align: center;line-height: 30px;font-size: 12px;color:#fff;font-family: "SimSun";border-radius: 2px;margin-left: 10px;}
header .top_nav .top_btn.orange{background-color: #ff9556;}
header .top_nav .top_btn.orange:hover{background-color: #fe8239;}
header .top_nav .top_btn.blue{background-color: #3d84b8;}
header .top_nav .top_btn.blue:hover{background-color: #2378b6;}
header .top_nav .top_btn.green{background-color: #8ec43c;}
header .top_nav .top_btn.green:hover{background-color: #80c21d;}

footer{width:100%;background-color: #3a3a3a;color:#fff;}
footer .footer-wrap{padding-top: 30px;}
footer .coptright{font-size: 14px;color:#757575;line-height: 50px;height:50px;text-align: center;}
footer .footer-wrap .footer-box{float: left;min-height:130px;}
footer .footer-wrap .product-box{padding-left: 132px;width:200px;border-right:1px solid #757575;}
footer .footer-wrap .about-box{padding-left: 100px;width:199px;border-right:1px solid #757575;}
footer .footer-wrap .comment-box{padding-left: 50px;width:249px;border-right:1px solid #757575;}
footer .footer-wrap .comment-box .comment-phone{height:26px;line-height: 26px;padding-left: 26px;font-size: 18px;margin-bottom: 6px;background: url(../images/footer-icon.png) no-repeat 0px 0px;}
footer .footer-wrap .comment-box .comment-email{height:26px;line-height: 26px;padding-left: 26px;font-size: 18px;background: url(../images/footer-icon.png) no-repeat 0px -33px;}
footer .footer-wrap .wx-box{padding-left: 107px;}
footer .footer-wrap .wx-box .wx{width:85px;text-align: center;}
footer .footer-wrap .footer-box h2{font-size: 16px;padding-bottom: 10px;}
footer .footer-wrap .footer-box a{line-height: 24px;color:#fff;font-size: 14px;}