.section{-webkit-background-size:cover;background-size:cover}
#page1{background-image:url(../images/index_bg1.jpg);background-repeat:no-repeat;background-position:left top}
#page2{background-image:url(../images/index_bg2.jpg);background-repeat:no-repeat;background-position:left top}
#page3{background-image:url(../images/index_bg3.jpg);background-repeat:no-repeat;background-position:left top}
#page4{background-image:url(../images/index_bg4.jpg);background-repeat:no-repeat;background-position:left top}
#page5{background-image:url(../images/index_bg5.jpg);background-repeat:no-repeat;background-position:left top}
header{position:absolute;top:0;left:0;width:100%;background-color:#fff;height:70px;z-index:5}
.page1-wrap{padding-top:70px}
.oa-big-title{font-family:"art";font-size:85px;color:#fff;text-align:center;font-weight:500;margin:120px 0 0}
.oa-content-txt{font-family:"Microsoft Yahei";font-size:14px;color:#fff;text-align:center;font-weight:500}
.page1-wrap .page1-title{font-size:40px;color:#fff;font-weight:600;text-align:center;margin:25px 0 60px 0}
.page1-wrap .page1-reg-wrap{width: 460px;margin:0 auto;}
.page1-wrap .page1-reg-wrap .reg-input{width: 460px;height: 58px;background-color: #fff;border-radius: 50px;margin-bottom: 31px;overflow: hidden;}
.page1-wrap .page1-reg-wrap .reg-input input{border:0;background-color: #fff;font-size: 18px;line-height: 36px;height:36px;padding:11px 20px;width: 380px;color:#666;}
.page1-wrap .page1-reg-wrap .reg-submit{margin:0 auto;width: 255px;}
.page1-wrap .page1-reg-wrap .reg-submit input{width: 255px;height: 64px;border:0;background: url(../images/index-btn.png) no-repeat 0px 0px;}
.page1-wrap .page1-reg-wrap .reg-submit input:hover{background-position: 0px -86px;}

.page-top-box{text-align: center;color:#fff;}
.page-top-box h2{font-size: 40px;font-weight: 600;}
.page-top-box .english{font-size: 12px;margin-top: 5px;font-family: Verdana;}
.page-top-box .page-top-content{font-family: "Microsoft Yahei";font-size: 14px;margin-top: 15px;}

.page2-wrap{padding-top: 70px;}
.page-function{width: 1120px;margin:50px auto 0 auto;}
.page-function .function-row{margin-bottom: 55px;}
.page-function .function-row .function-item{float: left;margin-right: 50px;width: 180px;height: 180px;border:2px solid #fff;border-radius: 5px;position: relative;overflow: hidden;cursor: pointer;}
#row1, #row2{opacity: 0;top:-30px;position: relative;}

.page-function .function-row .function-item .function-icon{width: 101px;height: 90px;margin: 35px auto 0 auto;background: url(../images/index-icon.png) no-repeat;}
.page-function .function-row .function-item p{text-align: center;font-size: 16px;color:#fff;margin-top: 20px;}
.page-function .function-row .function-item .function-icon.icon1{background-position: -7px 0px;}
.page-function .function-row .function-item .function-icon.icon2{background-position: -238px -3px;}
.page-function .function-row .function-item .function-icon.icon3{background-position: -470px -3px;}
.page-function .function-row .function-item .function-icon.icon4{background-position: -702px 0px;}
.page-function .function-row .function-item .function-icon.icon5{background-position: -933px -2px;}
.page-function .function-row .function-item .function-icon.icon6{background-position: -7px -241px;}
.page-function .function-row .function-item .function-icon.icon7{background-position: -236px -241px;}
.page-function .function-row .function-item .function-icon.icon8{background-position: -470px -237px;}
.page-function .function-row .function-item .function-icon.icon9{background-position: -702px -222px;}
.page-function .function-row .function-item .function-icon.icon10{background-position: -936px -235px;}
.function-item .fucntion-content{position: absolute;bottom:-180px;left:0px;width: 180px;height: 180px;background: rgba(225, 225, 225, .9);z-index: 2;overflow: hidden;}
.function-item .fucntion-content .f-content-wrap{padding:20px 16px;font-size: 12px;color:#000;}
.function-item .fucntion-content .f-content-wrap p{font-size: 12px;color:#333;text-align: left;margin:0;line-height: 24px;}

.page3-wrap{padding-top: 70px;}
.customer-wrap{width: 962px;height: 677px;margin:0 auto;background: url(../images/index-map.png) no-repeat 95px 0px;-webkit-background-size: 85%;background-size: 85%;position: relative;}
.customer-wrap .customer-item{position: absolute;opacity: 0;cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
-webkit-transform: translateY(-15px);
-moz-transform: translateY(-15px);
-ms-transform: translateY(-15px);
-o-transform: translateY(-15px);
transform: translateY(-15px);
}
.customer-wrap .customer-item.onPos{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.customer-wrap .customer-item.position1{top:152px;left:331px;}
.customer-wrap .customer-item.position2{top:146px;left:138px;}
.customer-wrap .customer-item.position3{top:339px;left:439px;}
.customer-wrap .customer-item.position4{top:276px;left:176px;}
.customer-wrap .customer-item .avater{float: left;width: 102px;height: 117px;background: url(../images/index-customer-avater.png) no-repeat;}
.customer-wrap .customer-item .c-content{float: left;width: 300px;padding:16px 20px;background-color: #fff;border-radius:5px;margin:30px;position: relative;z-index: 2;}
.customer-wrap .customer-item .c-content::after{position: absolute;content:"";width: 0;height: 0;border-color:#fff transparent transparent transparent;border-style:solid dashed dashed dashed;border-width:20px 25px;top:20px;left:-20px;z-index: 1}
.customer-wrap .customer-item .c-content-r{float: left;width: 300px;padding:16px 20px;background-color: #f49078;border-radius:5px;margin:30px;position: relative;z-index: 2;}
.customer-wrap .customer-item .c-content-r::after{position: absolute;content:"";width: 0;height: 0;border-color:#f49078 transparent transparent transparent;border-style:solid dashed dashed dashed;border-width:20px 25px;top:20px;right:-20px;z-index: 1}
.customer-wrap .customer-item .c-content p,
.customer-wrap .customer-item .c-content-r p{position: relative;z-index: 2;font-size: 14px;line-height: 26px;color:#333;}
.customer-wrap .customer-item .c-content-r p{color:#fff;}
.customer-wrap .customer-item .c-content p.content-right-text,
.customer-wrap .customer-item .c-content-r p.content-right-text{text-align: right;}
.customer-wrap .customer-item .avater.avater-type1{background-position: 0px 0px;}
.customer-wrap .customer-item .avater.avater-type2{background-position: 0px -133px;}
.customer-wrap .customer-item .avater.avater-type3{background-position: 0px -272px;}
.customer-wrap .customer-item .avater.avater-type4{background-position: 0px -403px;}

.page4-wrap{padding-top: 70px;}
.security-wrap{width: 960px;margin:70px auto 0 auto;}
.security-wrap .sec-item{width: 25%;float: left;text-align: center;color:#fff;opacity: 0;cursor: pointer;
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
}
.security-wrap .sec-item.action{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
#securityAction1{
	-webkit-transition: all .3s .3s;
	-moz-transition: all .3s .3s;
	-ms-transition: all .3s .3s;
	-o-transition: all .3s .3s;
	transition: all .3s .3s;
}
#securityAction2{
	-webkit-transition: all .3s .5s;
	-moz-transition: all .3s .5s;
	-ms-transition: all .3s .5s;
	-o-transition: all .3s .5s;
	transition: all .3s .5s;
}
#securityAction3{
	-webkit-transition: all .3s .7s;
	-moz-transition: all .3s .7s;
	-ms-transition: all .3s .7s;
	-o-transition: all .3s .7s;
	transition: all .3s .7s;
}
#securityAction4{
	-webkit-transition: all .3s .9s;
	-moz-transition: all .3s .9s;
	-ms-transition: all .3s .9s;
	-o-transition: all .3s .9s;
	transition: all .3s .9s;
}
.security-wrap .sec-item .sec-icon{width: 95px;height: 98px;margin:0 auto;background: url(../images/index-s-icon.png) no-repeat;margin-bottom: 10px;}
.security-wrap .sec-item .sec-icon.s-icon1{background-position: 0px 0px;}
.security-wrap .sec-item .sec-icon.s-icon2{background-position: -109px 0px;}
.security-wrap .sec-item .sec-icon.s-icon3{background-position: -219px 0px;}
.security-wrap .sec-item .sec-icon.s-icon4{background-position: -328px 0px;}
.security-wrap .sec-item .sec-title{font-size: 24px;}
.security-wrap .sec-item p{font-size: 18px;margin-top: 15px;}
.sec-reg{
	width: 960px;margin:70px auto 0 auto;opacity: 0;
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
	-webkit-transition: all .3s 1.2s;
	-moz-transition: all .3s 1.2s;
	-ms-transition: all .3s 1.2s;
	-o-transition: all .3s 1.2s;
	transition: all .3s 1.2s;
}
.sec-reg.action{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.sec-reg h3{font-size: 44px;text-align: center;color:#fff;}
.sec-reg .sec-reg-wrap{width: 640px;margin:25px auto 0 auto;height:60px;border-radius:50px;overflow: hidden;}
.sec-reg .sec-reg-wrap .s-reg-input{width: 480px;height:60px;background-color: #fff;float: left;}
.sec-reg .sec-reg-wrap .s-reg-input input{border:0;background-color: #fff;padding:7px 20px;font-size: 18px;color: #666;height:46px;line-height: 46px;width: 440px;}
.sec-reg .sec-reg-wrap .s-reg-btn{width: 160px;float: left;height:60px;}
.sec-reg .sec-reg-wrap .s-reg-btn input{width: 160px;height: 60px;font-size: 20px;border:0;color:#fff;background-color: #8ec43c;-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;}
.sec-reg .sec-reg-wrap .s-reg-btn input:hover{background-color: #78a732;}

.page5-wrap{padding-top: 20px;}
.conract-wrap{width: 1060px;margin:0 auto;}
.conract-wrap .paper-wrap{position: relative;float: left;width: 383px;height:493px;background: url(../images/index-contact.png) no-repeat 0px 0px;-webkit-background-size: 90%;
background-size: 90%;margin-left: 80px;}
.conract-wrap .paper-wrap .mail-box{position: absolute;top:197px;left:67px;}
.conract-wrap .paper-wrap .phone-box{position: absolute;top:239px;left:67px;}
.conract-wrap .paper-wrap .qq-box{position: absolute;top:280px;left:67px;}
.conract-wrap .paper-wrap .paper-item{font-size: 14px;line-height: 20px;}
.conract-wrap .paper-wrap .type{color:#3d5175;}
.conract-wrap .paper-wrap .type.left-type{float: left;}
.conract-wrap .paper-wrap .paper-content{white-space: nowrap;color:#3d84b8;}
.conract-wrap .paper-wrap .p-right{float: left;color:#3d84b8;width: 230px;}
.conract-wrap .paper-wrap .p-right p{white-space: nowrap;float: left;margin-right: 10px;}
.conract-wrap .contact-form{float: right;padding-left: 43px;width: 550px;padding-top: 25px;}
.conract-wrap .contact-form h4{font-size: 16px;color:#fff;margin-top: 15px;}
.conract-wrap .contact-form .text-item{margin-top: 17px;font-family: "SimSun"}
.conract-wrap .contact-form .text-item .c-text{float: left;width: 267px;border:1px solid #d5d5d5;margin-right: 12px;background-color: #fff;height:38px;border-radius: 3px;}
.conract-wrap .contact-form .text-item .c-text input{border:0;font-size: 14px;color:#666;padding:8px;height:22px;line-height: 22px;}
.conract-wrap .contact-form .text-item textarea{width: 532px;resize:none;overflow: auto;height:70px;border:1px solid #d5d5d5;padding:8px;font-size: 14px;color:#666;border-radius: 3px;}
.conract-wrap .contact-form .text-item .c-button{padding-right: 23px;float: right;}
.conract-wrap .contact-form .text-item .c-button input{width: 95px;height:38px;background-color: #8ec43c;color:#fff;border:0;border-radius:3px;font-size: 16px;font-family: "Microsoft Yahei";-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;}
.conract-wrap .contact-form .text-item .c-button input:hover{background-color: #78a732;}